.profile-container {
  margin: 100px auto;
  min-width: 280px;
  max-width: 300px;
}
.controls-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 340px;
  width: 280px;
}
.flag-icon {
  border: 1px solid black;
}
a:hover {
  text-decoration: none;
}