.logout-el {
  position: absolute;
  right: 20px;
  top: 20px;
  color: white;
}
.logout-el:hover {
  cursor: pointer;
  color: black;
}
.profile {
  position: absolute;
  left: 20px;
  top: 20px;
  color: white;
  outline: none;
}
.profile:hover {
  cursor: pointer;
  color: black;
}
.inner-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.inner-profile:hover {
  text-shadow: none;  
}
.mr5 {
  margin-right: 5px;
}
