<div class="not-found-container">

  <div class="animated zoomIn">
    <div class="mat-typography headline-container">
      <h1 class="c-headline">404</h1>
      <h2 class="c-headline">Page Not Found</h2>
    </div>

    <div class="display-flex">
      <button mat-raised-button color="primary" routerLink="/home" *ngIf="isLoggedIn" class="c-button">Back to Home Page</button>
      <button mat-raised-button color="primary" routerLink="/login" *ngIf="!isLoggedIn" class="c-button">Back to Login Page</button>
    </div>
  </div>

</div>